# Terraform state
*.tfstate
*.tfstate.*
.terraform/

# Terraform variables
*.tfvars
*.tfvars.json

# Terraform crash logs
crash.log
crash.*.log

# Terraform lock file
.terraform.lock.hcl